@charset "UTF-8";
/**
 Layout
 */

body { min-width: 320px; }

/* Header */
body.l-header__fix .is-header-fixed .l-header__bar { min-width: auto; }

@media only screen and (max-width: 1200px) {
	.l-header { height: 61px; position: relative; z-index: 999; }
	.l-header__bar { height: 60px; line-height: 60px; border-bottom: none; }
	.l-header__bar .l-inner { width: 100%; }
	.l-header__logo--pc { display: none; }
	.l-header__logo--mobile { display: block; max-height: 60px; overflow: hidden; }
	body.l-header__fix--mobile .is-header-fixed .l-header__bar { width: 100%; position: fixed; top: 0; left: 0; -webkit-animation: headerSlideDown 0.5s ease; animation: headerSlideDown 0.5s ease; }
	body.l-header__fix--mobile .is-header-fixed .l-header__bar {
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	}
}

/* Footer */
@media only screen and (max-width: 767px) {
	.l-footer { margin-top: 30px; }
}

/* Inner */
@media only screen and (max-width: 767px) {
	.l-inner { width: 88.8888%; }
}

/* 2 columns */
@media only screen and (max-width: 991px) {
	.l-primary, .l-secondary { float: none !important; width: 100%; }
	.l-secondary { margin-top: 40px; }
}
@media only screen and (max-width: 767px) {
	.l-secondary { margin-bottom: 10px; }
}
@media only screen and (max-width: 991px) {
body.single-post .l-2colmuns{
	display: block;
}
}

/**
 * Component
 */

/* load */
@media only screen and (max-width: 767px) {
	.c-load--type1 { width: 30px; height: 30px; }
	.c-load--type2::before { width: 8px; height: 8px; }
	.c-load--type2::after { width: 8px; height: 8px; }
	#site_loader_animation i { width: 0.25em; height: 0.25em; margin: 0 0.125em; }
}

/* comment */
@media only screen and (max-width: 767px) {
	.c-comment { margin-bottom: 30px; }
	.c-comment__item-act { margin-top: 10px; padding-left: 0; position: static; }
	.c-comment__tab-item a, .c-comment__tab-item p { padding: 9px 10px; }
	.c-comment__tab-item.is-active a, .c-comment__tab-item.is-active p { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; }
}

/* meta box */
@media only screen and (max-width: 767px) {
	.c-meta-box { background: none; margin-bottom: 10px; padding: 0; }
	.c-meta-box__item { border-right: 0; float: none; margin-bottom: 16px; }
}

/* menu button */
@media only screen and (max-width: 1200px) {
	.c-menu-button { display: block; }
}

/* nav01 */
@media only screen and (max-width: 767px) {
	.c-entry-nav__item { font-size: 12px; text-align: center; width: 50%; height: 52px; }
	.c-entry-nav__item--prev { border: 1px solid #ddd; }
	.c-entry-nav__item--next { border: 1px solid #ddd; border-left: none; }
	.c-entry-nav__item a { display: block; line-height: 50px; padding: 0; width: 100%; height: 50px; }
	.c-entry-nav__item a span { display: none; }
	.c-entry-nav__item--prev a::after { content: attr(data-prev); }
	.c-entry-nav__item--next a::before { content: attr(data-next); }
	.c-entry-nav__item--prev a::before { color: #ccc; left: 18px; }
	.c-entry-nav__item--next a::after { color: #ccc; right: 18px; }
}

/* pw */
@media only screen and (max-width: 767px) {
	.c-pw { margin-bottom: 30px; }
	.c-pw__box { padding: 20px; text-align: center; }
	.c-pw__box-inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
	.c-pw__box-label { display: block; margin-bottom: 1em; margin-right: 0; font-size: 12px; }
	.c-pw__box-input { display: block; width: 100%; margin-bottom: 1em; margin-right: 0; }
}

/* share */
@media only screen and (max-width: 991px) {
	.c-share__btn { margin-bottom: 5px; }
}

/**
 * Project
 */

/* global nav */
@media only screen and (min-width: 1201px) {
	.p-global-nav { display: block !important; }
}
@media only screen and (max-width: 1200px) {
	.p-global-nav { display: none; width: 100%; max-height: calc(100vh - 60px); overflow: auto; text-align: left; position: absolute; top: 60px; left: 0; z-index: 10000; }
	.p-global-nav > li { display: block; }
	.p-global-nav > li > a { display: block; padding: 13px 41px 13px 22px; }
	.p-global-nav a { display: block; color: #fff !important; background: transparent !important; font-size: 13px; line-height: 1.4; position: relative; }
	.p-global-nav .menu-item-has-children > a > span::before { color: #fff; content: '\e90e'; font-family: "design_plus"; line-height: 24px; display: block; margin: auto; position: absolute; top: 0; right: 17px; bottom: 0; text-align: center; width: 24px; height: 24px; -webkit-transition: -webkit-transform 0.5s ease; -moz-transition: -moz-transform 0.5s ease; -ms-transition: -ms-transform 0.5s ease; -o-transition: -o-transform 0.5s ease; transition: transform 0.5s ease; }
	.p-global-nav .menu-item-has-children > a > span.is-active::before { -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }

	.p-global-nav .sub-menu { background: rgba(255, 255, 255, 0.05); display: none; opacity: 1; position: static; visibility: visible; width: 100%; transition-property: none; }
	.p-global-nav .sub-menu li { padding-left: 1em; }
	.p-global-nav .sub-menu .menu-item-has-children > a::after { content: ""; }
	.p-global-nav .sub-menu a { padding: 13px 41px 13px 22px; width: 100%; }
}

/* mega menu */
.p-megamenu { min-width: auto; }

@media only screen and (max-width: 1200px) {
	.p-megamenu { display: none !important; }
}

/* menu button */
@media only screen and (max-width: 1200px) {
	.p-menu-button, .p-sidemenu-button, .p-search-button { line-height: 60px; width: 60px; height: 60px; }
}

/* header search */
@media only screen and (max-width: 1200px) {
	.p-header-search--pc { display: none !important; }
	.p-header-search--mobile { display: block !important; padding: 12px 22px; line-height:1 !important; }
	.p-header-search--mobile form { position: relative; }
	.p-header-search__input { padding: 0 45px 0 18px; width: 100%; }
	.p-header-search__submit { width: 45px; height: 45px; padding-top: 2px; line-height: 43px; text-align: center; font-family: "design_plus"; font-size: 16px; color: #000; background: transparent; border: none; cursor: pointer; position: absolute; top: 0; right: 0; }
}

/* breadcrumb */
@media only screen and (max-width: 991px) {
	.p-breadcrumb { margin-bottom: 30px; }
	.p-breadcrumb__inner { font-size: 12px; height: initial; line-height: 2; overflow: auto; padding: 10px 0; white-space: initial; }
	.p-breadcrumb__item { padding-right: 0; }
	.p-breadcrumb__item + .p-breadcrumb__item::before { border-left: none; content: "\e910"; color: #333; display: inline; font-family: "design_plus"; font-size: 8px; height: auto; margin-left: 2px; margin-right: 2px; position: static; }
	.p-breadcrumb__item--home a::before { color: inherit; }
}

/* page header */
@media only screen and (max-width: 991px) {
	.p-page-header { margin-bottom: 30px; }
	.p-breadcrumb + .p-page-header { margin-top: -30px; }
	.p-page-header { margin-bottom: 30px; min-height: 70px; padding: 15px 0; }
	.p-page-header__title { font-size: 22px !important; line-height: 1.2; }
	.p-page-header__desc { font-size: 12px !important; line-height: 2; }
}

/* copyright */
@media only screen and (max-width: 991px) {
	.p-copyright { background: #000; color: #fff; font-size: 12px; height: 50px; line-height: 50px; }
}

/* pagetop */
@media only screen and (max-width: 991px) {
	.p-pagetop a { background: #555; height: 50px; line-height: 50px; width: 50px; }
}

/* float category */
@media only screen and (max-width: 767px) {
	.p-float-category { min-width: 110px; }
	.p-float-category span { display: inline-block; }
}

/* float native ad */
@media only screen and (max-width: 767px) {
	.p-float-native-ad-label { min-width: 110px; }
}

.p-article__meta{
	font-size: 13px;
}

/* blog list */
@media only screen and (max-width: 767px) {
	.p-blog-list__item { margin-bottom: 24px; }
	.p-blog-list__item:nth-child(odd) { clear: both; float:left; width: 46.875%; }
	.p-blog-list__item:nth-child(even) { float:right; width: 46.875%; }
	.p-blog-list__item a { display: block; }
	.p-blog-list__item-thumbnail { width: 100%; }
	.p-blog-list__item-info { width: 100%; }
	.p-blog-list__item-title { font-size: 14px; line-height: 1.48; margin-bottom: 4px; margin-top: 10px; }
	.p-blog-list__item-title br { display: none; }

	.p-blog-list__item-meta02 .p-article__views::before { margin-left: 0; }
	.p-article__meta > * + .p-article__views::before { margin-left: 0; }
	.p-blog-list__item .p-article__meta { line-height: 1.5; }

	.p-blog-list-large__item { float: none !important; margin-bottom: 24px; width: 100% !important; }
	.p-blog-list-large__item-thumbnail { padding-top: 100%; }
	.p-blog-list-large__item-title { font-size: 14px; line-height: 1.48; margin-bottom: 4px; margin-top: 11.64px; }
	.p-blog-list-large__item-title br { display: none; }
	.p-article__meta .p-article__authors { float: none; }
	.p-article__views { margin-right: 19px; }
	.p-blog-list-large__item .p-article__category { width: 70%; /* behave as like block */ }
}

/* blog list meta */
@media only screen and (max-width: 640px) {
	.p-blog-list__item .p-article__meta > * { display: block; }
	.p-blog-list__item .p-article__meta > * + *::before { content: ""; margin-right: 0; }
	.p-blog-list__item .p-article__meta .p-article__authors { float: none; }
}

/* header blog */
@media only screen and (min-width: 992px) {
	.wp-is-mobile .p-header-blog__item .u-visible-sm { display: block !important; }
	.wp-is-mobile .p-header-blog__item .u-hidden-sm { display: none !important; }
	.wp-is-mobile .p-header-blog__item .l-inner { width: 100%; max-width: 100%; }
	.wp-is-mobile .p-header-blog__item-title { font-size: 14px; line-height: 1.48; margin-top: 19px; }
	.wp-is-mobile .p-header-blog__item-meta { margin-top: 2px; }
}
@media only screen and (max-width: 991px) {
	.p-header-blog__list { margin-bottom: -10px; }
	.p-header-blog__item { margin: 0; }
	.p-header-blog__item-thumbnail { padding-top: 83.3333%; }
	.p-header-blog__item-title { font-size: 14px; line-height: 1.48; margin-top: 19px; }
	.p-header-blog__item-meta { margin-top: 2px; }
}
@media only screen and (max-width: 767px) {
	.p-index-slider .slick-dots li button { border: 0; }
	.p-header-blog__item .p-article__category { width: 70%; }
	.p-header-blog__item-title { margin-top: 11.64px; }
	.p-header-blog__item-title br { display: none; }
}

/* footer blog */
@media only screen and (max-width: 767px) {
	.p-footer-blog { margin-top: 40px; margin-bottom: 30px; }
	.l-primary .p-footer-blog .l-inner { width: 100%; }
	.p-footer-blog__catch { font-size: 16px!important; }
	.p-footer-blog__item-catch { font-size: 16px !important; padding: 12px 14px; }
	.p-footer-blog__item-title { font-size: 14px; line-height: 1.48; margin-top: 10px; }
	.p-footer-blog__item-meta { margin-top: 2px; }
	.p-footer-blog__item-overlay__inner { padding: 20px 45px; }
}

/* ranking list */
@media only screen and (max-width: 767px) {
	.p-ranking-list__item { margin-bottom: 24px; }
	.p-ranking-list__item a { -webkit-box-align: start; -ms-flex-align: start; -ms-grid-row-align: start; -webkit-align-items: flex-start; align-items: flex-start; }
	.p-ranking-list__item-rank { height: 36px; line-height: 36px; min-width: 36px; }
	.p-ranking-list__item-thumbnail { width: 46.875%; }
	.p-ranking-list__item-info { width: 46.875%; }
	.p-ranking-list__item-title { font-size: 14px; line-height: 1.48; margin-bottom: 4px; margin-top: 0; }
	.p-ranking-list__item-title br { display: none; }
	.p-ranking-list__item-meta02 .p-article__views::before { margin-left: 0; }
}

/* ranking list meta */
@media only screen and (max-width: 640px) {
	.p-ranking-list__item .p-article__meta > * { display: block; }
	.p-ranking-list__item .p-article__meta > .p-article__category::before { content: ""; margin-right: 0; }
	.p-ranking-list__item .p-article__meta .p-article__authors { float: none; }
}

/* entry */
@media only screen and (max-width: 991px) {
	.p-entry__ad-item { display: block; }
	.p-entry__ad-item + .p-entry__ad-item { margin-top: 30px; margin-left: 0; }
}
@media only screen and (max-width: 767px) {
	.p-entry__title { font-size: 20px !important; margin-bottom: 30px; }
	.p-entry__title br { display: none; }
	.p-entry__date { margin-top: -22px; margin-bottom: 30px; }
	.p-entry__native-ad { margin-top: -22px; margin-bottom: 30px; }
	.p-entry__thumbnail { margin-bottom: 30px; }
	.p-entry__body { margin-bottom: 30px; }
	.p-entry__body p { font-size: 14px; line-height: 2; }
	.p-entry__body td, .p-entry__body th { font-size: 12px; }
	.p-entry__share { margin-bottom: 23px; }
	.p-entry__nav { margin-bottom: 30px; }
	.p-entry__ad { margin-bottom: 30px; }

	.p-entry__pickup { margin-bottom: 30px; }
	.p-entry__pickup__inner { padding-top: 30px; }
	.p-entry__pickup__inner .p-headline { margin-top: -10px; }
	.p-entry__pickup-items { display: block; margin-bottom: 20px; }
	.p-entry__pickup-item { width: 100%; position: relative; margin-bottom: 30px; }
	.p-entry__pickup__title { font-size: 14px; line-height: 1.48; margin-top: 14px; }

	.p-entry__related { margin-bottom: 0; }
	.p-entry__related__inner { border: none; padding: 30px 0 10px; }
	.p-entry__related__inner .p-headline { margin-top: -10px; }
	.p-entry__related-item { width: 46.875%; position: relative; margin-bottom: 20px; }
	.p-entry__related__title { font-size: 14px; line-height: 1.48; margin-top: 10px; }
}

/* author */
@media only screen and (max-width: 991px) {
	.p-author__thumbnail { float: none; margin: 0 auto 20px; }
	.p-author__info { margin-left: 0; }
}
@media only screen and (max-width: 767px) {
	.p-author { margin-bottom: 30px; padding-top: 20px; }
	.p-author__blog-list { margin-bottom: 30px; }
	.p-author__blog-list__inner { padding-top: 30px; }
	.p-author__blog-list__inner .p-headline { margin-top: -10px; }
	.p-author__blog-list__items { display: block; }
	.p-author__blog-list__item { width: 100%; position: relative; margin-bottom: 30px; }
	.p-author__blog-list__title { font-size: 14px; line-height: 1.48; margin-top: 14px; }
	.p-author__box { padding: 30px 25px; }
}

/* headline */
@media only screen and (max-width: 767px) {
	.p-headline { font-size: 16px; line-height: 1.2; margin-bottom: 20px; }
}

/* button */
@media only screen and (max-width: 767px) {
	.p-button { height: 40px; line-height: 40px; min-width: 160px; }
}

/* footer cta */
@media only screen and (max-width: 1300px) {
	.p-footer-cta__inner { max-width: 90%; }
}
@media only screen and (max-width: 991px) {
	.p-footer-cta__inner { width: 88.8888%; padding: 30px 26px; }
	.p-footer-cta__catch { font-size: 20px !important; }
	.p-footer-cta__desc { font-size: 14px !important; }
}
@media only screen and (max-width: 767px) {
	.p-footer-cta { padding: 55px 0; }
	.p-footer-cta__catch { font-size: 16px !important; text-align: left; }
	.p-footer-cta__desc { font-size: 14px !important; text-align: left; }
}

/* index slider */
@media only screen and (max-width: 1200px) {
	.p-index-slider { margin-bottom: 50px; }
}
@media only screen and (max-width: 991px) {
	.p-index-slider { margin-bottom: 40px; }
	.p-index-slider__item { margin: 0; }
	.p-index-slider__item-image { padding-top: 83.3333%; }
	.p-index-slider__item-content { padding: 30px 55px; }
	.p-index-slider .slick-arrow { opacity: 0.9; }
	.p-index-slider .slick-slider:hover .slick-arrow { opacity: 0.9; }
	.p-index-slider .slick-arrow:hover { opacity: 1; }
}
@media only screen and (max-width: 767px) {
	.p-index-slider { margin-bottom: 30px; }
	.p-index-slider__item-content { padding: 20px 45px; }
	.p-index-slider__item-catch { font-size: 20px !important; }
	.p-index-slider__item-desc { font-size: 14px !important; }
}

/* header video, header youtube */
@media only screen and (max-width: 1200px) {
	.p-header-video, .p-header-youtube { margin-bottom: 50px; }
}
@media only screen and (max-width: 991px) {
	.p-header-video, .p-header-youtube { margin-bottom: 40px; }
}
@media only screen and (max-width: 767px) {
	.p-header-video__caption > * + * { margin-top: 16px; }
	.p-header-video__caption-catch { font-size: 20px !important; line-height: 1.4; }
	.p-header-video__caption-desc { font-size: 14px !important; line-height: 1.8; }
}

/* index-tab */
@media only screen and (max-width: 991px) {
	.p-index-tab { margin: 0 -5.555% 30px; }
	.p-index-tab__item { border-top: 1px solid #ddd; height: 52px; line-height: 50px; }
}
@media only screen and (max-width: 767px) {
	.p-index-tab { margin: 0 -6.257% 30px; }
	.p-index-tab-content .p-blog-list__item:nth-last-child(-n+2) { margin-bottom: 0; }
	.p-index-tab__item { font-size: 12px; }
	.p-index-tab-content .p-pager { margin-top: 24px; }
}

/* widget */
@media only screen and (max-width: 767px) {
	.p-widget { margin-bottom: 40px; }

	/* widget title */
	.p-widget__title { margin-bottom: 20px; padding-top: 20px; }

	/* default widget */
	.p-widget select { height: 40px; line-height: 40px; }
	.p-widget .searchform #s { height: 40px; line-height: 40px; idth: -webkit-calc(100% - 40px); width: calc(100% - 40px); }
	.p-widget .searchform #searchsubmit { width: 40px; height: 40px; }
	.p-widget .searchform::after { width: 40px; height: 40px; line-height: 40px; }
	.widget_archive .screen-reader-text, .widget_categories .screen-reader-text{
		height: 40px;
		width: 40px;
	}
	.widget_archive .select_wrap:before, .widget_categories .select_wrap:before{
		top: 15px;
	}

	/* widget categories */
	.p-widget-categories li a { padding: 7px 32px; }
	.p-widget-categories .has-children > .toggle-children { line-height: 40px; }

	/* widget dropdown */
	.p-widget-dropdown { height: 40px; line-height: 40px; }

	/* widget search */
	input.p-widget-search__input { height: 40px; line-height: 40px; padding: 0 10px; width: -webkit-calc(100% - 40px); width: calc(100% - 40px); }
	input.p-widget-search__submit { width: 40px; height: 40px; }

	/* widget site info */
	.p-siteinfo > * + *, .p-siteinfo > * + .p-social-nav { margin-top: 16px !important; }
}

/* widget list */
@media only screen and (max-width: 991px) {
	.p-widget-list__type2 .p-widget-list__item { width: 46.875%; }
}
@media only screen and (max-width: 767px) {
	.p-widget-list__type1 .p-widget-list__item { margin-bottom: 20px; }
	.p-widget-list__type2 .p-widget-list__item { margin-bottom: 22px; }
	.p-widget-list__type2 .p-widget-list__item-title { line-height: 1.48; }
	.p-widget-list__type3 .p-widget-list__item { border-bottom: 1px solid #ddd; }
	.p-widget-list__type3 .p-widget-list__item:last-child { border-bottom: none; }
	.p-widget-list__type3 .p-widget-list__item a { padding-right: 30px; }
	.p-widget-list__ranking .p-widget-list__item { margin-bottom: 20px; }
}

/* footer widget area */
@media only screen and (max-width: 767px) {
	.p-footer-widget-area__inner { width: 100%; }
	.p-footer-widget-area .p-footer-widget-area__inner { -webkit-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: start; justify-content: flex-start; }

	/* footer widget */
	.p-footer-widget-area .p-widget { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-top: -1px; padding: 30px 5.5556% !important; width: 100%; }
	.p-footer-widget-area .p-widget__title { border-top: none; color: #000; font-weight: 500; margin-bottom: 18px; padding-top: 0; text-align: left; }
	.p-footer-widget-area .p-widget.widget_nav_menu { padding: 30px 5.555555%; width: 50%; }
	.p-footer-widget-area .p-siteinfo { font-size: 12px; }
	.p-footer-widget-area__has-social-nav .p-footer-widget-area__inner { padding-bottom: 56px; position: relative; }
	.p-footer-widget-area__has-social-nav .p-social-nav { display: none; }
	.p-footer-widget-area__has-social-nav .p-social-nav__mobile { border-top: 1px solid #ddd; display: block; line-height: 56px; text-align: center; width: 100%; position: absolute; bottom: 0; left: 0; }

	/* footer widget area default */
	.p-footer-widget-area__default .p-widget { padding: 30px 5.5556%; }
}

/**
 * Utility
 */

/* hidden */
@media only screen and (max-width: 1200px) {
	.u-hidden-lg { display: none; }
	.u-visible-lg { display: block; }
}

@media only screen and (max-width: 991px) {
	.u-hidden-sm { display: none; }
	.u-visible-sm { display: block; }
}

@media only screen and (max-width: 767px) {
	.u-hidden-xs { display: none; }
	.u-visible-xs { display: block; }
}

/* slick */
@media only screen and (max-width: 767px) {
	.slick-arrow { height: 40px; line-height: 40px; margin-top: -25px; opacity: 0.9; width: 40px; }
	.slick-slider:hover .slick-arrow { opacity: 0.9; }
	.slick-arrow:hover { opacity: 1; }
}

